.game_container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px 50px 50px;
}

.game_navigation {
  word-spacing: 0.5rem;
}

.game_button {
  width: 3rem;
}

.lifebar_monkey {
  width: 3rem;
  padding: 0.5rem;
}

.lifebar_heart {
  width: 2rem;
  padding: 0.5rem;
}

.gamefield {
  position: relative;
  width: 98%;
}

.tree img {
  width: 5rem;
}

.tree1 {
  position: absolute;
  left: 4vw;
}

.tree2 {
  position: absolute;
  right: 4vw;
}

.tree3 {
  position: absolute;
  top: 65vh;
  left: 4vw;
}

.tree4 {
  position: absolute;
  top: 65vh;
  right: 4vw;
}

@media (max-width: 450px) {
  .game_container {
    flex-direction: column;
    margin: 5px 0px 10px 0px;
  }

  .game_navigation {
    word-spacing: 0.5rem;
  }

  .game_button {
    width: 2.5rem;
  }

  .lifebar_monkey {
    width: 3rem;
    padding: 0.5rem;
  }

  .lifebar_heart {
    width: 2rem;
    padding: 0.5rem;
  }

  .tree img {
    display: none;
    position: absolute;
    z-index: -1;
  }

  .gamefield {
    display: flex;
    margin: 0px;
    justify-content: left;
  }
}
