.game_container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 50px 50px 50px;
}

.game_navigation {
  word-spacing: 0.5rem;
}

.game {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game_button {
  width: 3rem;
}

.lifebar_monkey {
  width: 3rem;
  padding: 0.5rem;
}

.lifebar_heart {
  width: 2rem;
  padding: 0.5rem;
}

.gamefield {
  position: relative;
  width: 1100px;
}

.tree img {
  width: 5rem;
}

.tree1 {
  position: absolute;
  left: 30px;
  right: 1000px;
}

.tree2 {
  position: absolute;
  right: 30px;
  left: 1000px;
}

.tree3 {
  position: absolute;
  top: 500px;
  left: 30px;
  right: 1000px;
}

.tree4 {
  position: absolute;
  top: 500px;
  right: 30px;
  left: 1000px;
}


@media (max-width: 1100px) {
  .gamefield {
    width: calc(1100px*0.9);
  }

  .tree1 {
    left: calc(30px*0.9);
    right: calc(1000px*0.9);
  }
  
  .tree2 {
    right: calc(30px*0.9);
    left: calc(1000px*0.9);
  }
  
  .tree3 {
    top: calc(500px*0.9);
    left: calc(30px*0.9);
    right: calc(1000px*0.9);
  }
  
  .tree4 {
    top: calc(500px*0.9);
    right: calc(30px*0.9);
    left: calc(1000px*0.9);
  }

  .tree img {
    width: calc(5rem*0.9);
  }
}
@media (max-width: 1000px) {
  .gamefield {
    width: calc(1100px*0.8);
  }

  .tree1 {
    left: calc(30px*0.8);
    right: calc(1000px*0.8);
  }
  
  .tree2 {
    right: calc(30px*0.8);
    left: calc(1000px*0.8);
  }
  
  .tree3 {
    top: calc(500px*0.8);
    left: calc(30px*0.8);
    right: calc(1000px*0.8);
  }
  
  .tree4 {
    top: calc(500px*0.8);
    right: calc(30px*0.8);
    left: calc(1000px*0.8);
  }

  .tree img {
    width: calc(5rem*0.8);
  }
  }

@media (max-width: 900px) {
  .gamefield {
    width: calc(1100px*0.7);
  }

  .tree1 {
    left: calc(30px*0.7);
    right: calc(1000px*0.7);
  }
  
  .tree2 {
    right: calc(30px*0.7);
    left: calc(1000px*0.7);
  }
  
  .tree3 {
    top: calc(500px*0.7);
    left: calc(30px*0.7);
    right: calc(1000px*0.7);
  }
  
  .tree4 {
    top: calc(500px*0.7);
    right: calc(30px*0.7);
    left: calc(1000px*0.7);
  }

  .tree img {
    width: calc(5rem*0.7);
  }
}

@media (max-width: 800px) {
  .gamefield {
    width: calc(1100px*0.6);
  }

  .tree1 {
    left: calc(30px*0.6);
    right: calc(1000px*0.6);
  }
  
  .tree2 {
    right: calc(30px*0.6);
    left: calc(1000px*0.6);
  }
  
  .tree3 {
    top: calc(500px*0.6);
    left: calc(30px*0.6);
    right: calc(1000px*0.6);
  }
  
  .tree4 {
    top: calc(500px*0.6);
    right: calc(30px*0.6);
    left: calc(1000px*0.6);
  }

  .tree img {
    width: calc(5rem*0.6);
  }
}

@media (max-width: 700px) {
  .gamefield {
    width: calc(1100px*0.5);
  }

  .tree1 {
    left: calc(30px*0.5);
    right: calc(1000px*0.5);
  }
  
  .tree2 {
    right: calc(30px*0.5);
    left: calc(1000px*0.5);
  }
  
  .tree3 {
    top: calc(500px*0.5);
    left: calc(30px*0.5);
    right: calc(1000px*0.5);
  }
  
  .tree4 {
    top: calc(500px*0.5);
    right: calc(30px*0.5);
    left: calc(1000px*0.5);
  }

  .tree img {
    width: calc(5rem*0.5);
  }
}


@media (max-width: 600px) {
  .game_container {
    flex-direction: column;
    margin: 5px 0px 10px 0px;
  }

  .game_navigation {
    word-spacing: 0.5rem;
  }

  .game_button {
    width: 2.5rem;
  }

  .lifebar_monkey {
    width: 3rem;
    padding: 0.5rem;
  }

  .lifebar_heart {
    width: 2rem;
    padding: 0.5rem;
  }

  .tree img {
    display: none;
    position: absolute;
    z-index: -1;
  }

  .gamefield {
    display: flex;
    margin: 0px;
    justify-content: left;
  }

}


