.gamefield_icon {
  width: 7rem;
}

.lock {
  width: 3rem;
  position: absolute;
}

.house {
  position: absolute;
  top: 3vh;
  left: 20vw;
}

.houseclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.storm {
  position: absolute;
  left: 43%;
}

.stormclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.electricity {
  position: absolute;
  top: 3vh;
  right: 25vw;
}

.electricityclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.accident {
  position: absolute;
  top: 23vh;
  right: 15vw;
}

.accidentclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.river {
  position: absolute;
  top: 45vh;
  right: 25vw;
}

.riverclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.fireplace {
  position: absolute;
  top: 62vh;
  left: 43%;
}

.fireplaceclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.burnt {
  position: absolute;
  top: 45vh;
  left: 20vw;
}

.burntclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.snow {
  position: absolute;
  top: 23vh;
  left: 10vw;
}

.snowclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.monkey1 {
  position: absolute;
  left: 28vw;
  top: 20vh;
}

.monkey2 {
  transform: translate(200%, -40%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey3 {
  transform: translate(400%, -60%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey4 {
  transform: translate(450%, 20%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey5 {
  transform: translate(400%, 120%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey6 {
  transform: translate(230%, 220%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey7 {
  transform: translate(100%, 150%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey8 {
  transform: translate(10%, 80%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey9 {
  transform: translate(30%, 10%);
  transition: transform 700ms ease-in-out 25ms;
}

.monkey1 img {
  width: 5rem;
}

.path {
  position: absolute;
  top: 17vh;
  left: 30%;
}

.path img {
  width: 70%;
}

.resposive_path {
  display: none;
}

@media (max-width: 450px) {
  .path {
    display: none;
  }

  .lock {
    width: 2rem;
    position: absolute;
  }

  .house {
    position: absolute;
    top: 10px;
    left: 33vw;
  }

  .storm {
    position: absolute;
    left: 33vw;
    top: 162px;
  }

  .electricity {
    position: absolute;
    top: 314px;
    left: 33vw;
  }

  .accident {
    position: absolute;
    top: 466px;
    left: 33vw;
  }

  .river {
    position: absolute;
    top: 618px;
    left: 33vw;
  }

  .fireplace {
    position: absolute;
    top: 770px;
    left: 33vw;
  }

  .burnt {
    position: absolute;
    top: 922px;
    left: 33vw;
  }

  .snow {
    position: absolute;
    top: 1074px;
    left: 33vw;
  }

  .monkey1 {
    position: absolute;
    left: 15vw;
    top: 10vh;
  }

  .monkey1 img {
    width: 5rem;
  }

  .resposive_path {
    display: block;
    top: 5vh;
  }

  .monkey2 {
    transform: translate(0%, 120%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey3 {
    transform: translate(0%, 350%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey4 {
    transform: translate(0%, 520%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey5 {
    transform: translate(0%, 710%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey6 {
    transform: translate(0%, 890%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey7 {
    transform: translate(0%, 1080%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey8 {
    transform: translate(0%, 1250%);
    transition: transform 700ms ease-in-out 25ms;
  }

  .monkey9 {
    transform: translate(0%, 1300%);
    transition: transform 700ms ease-in-out 25ms;
  }
}
