.gamefield_icon {
  width: 7rem;
}

.lock_check_icon {
  width: 3rem;
  position: absolute;
}

.path {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
}

.desktop_path {
  width: 380px;
  position: absolute;
  top: 150px;
  left: 350px;
  right: 350px;
}

.resposive_path {
  display: none;
}

.house {
  position: absolute;
  top: 40px;
  left: 220px;
  right: 800px;
  width: 150px;
}

.houseclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.storm {
  position: absolute;
  left: 500px;
  right: 400px;
  width: 150px;
}

.stormclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.electricity {
  position: absolute;
  top: 40px;
  right: 220px;
  left: 700px;
  width: 150px;
}

.electricityclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.accident {
  position: absolute;
  top: 190px;
  right: 170px;
  left: 780px;
  width: 150px;
}

.accidentclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.river {
  position: absolute;
  top: 350px;
  right: 280px;
  left: 680px;
  width: 150px;
}

.riverclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.fireplace {
  position: absolute;
  top: 450px;
  left: 500px;
  right: 450px;
  width: 150px;
}

.fireplaceclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.burnt {
  position: absolute;
  top: 370px;
  left: 280px;
  right: 680px;
  width: 150px;
}

.burntclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.snow {
  position: absolute;
  top: 190px;
  left: 180px;
  right: 750px;
  width: 150px;
}

.snowclick img:hover {
  cursor: pointer;
  transform: scaleX(1.5) scaleY(1.5);
}

.monkey_icon {
  width: 5rem;
}

.monkey1 {
  position: absolute;
  left: 340px;
  right: 800px;
  top: 150px;
}

@keyframes move1 {
  0% {
    left: 340px;
    top: 150px;
  }
  50% {
    left: 440px;
    top: 100px;
  }
  100% {
    left: 490px;
    top: 125px;
  }
}

.monkey2 {
  position: absolute;
  left: 490px;
  top: 125px;
  animation-name: move1;
  animation-duration: 4s;
}

@keyframes move2 {
  0% {
    left: 490px;
    top: 125px;
  }
  50% {
    left: 540px;
    top: 100px;
  }
  100% {
    left: 630px;
    top: 100px;
  }
}

.monkey3 {
  position: absolute;
  left: 630px;
  top: 100px;
  animation-name: move2;
  animation-duration: 4s;
}

@keyframes move3 {
  0% {
    left: 630px;
    top: 100px;
  }
  50% {
    left: 670px;
    top: 160px;
  }
  100% {
    left: 650px;
    top: 200px;
  }
}

.monkey4 {
  position: absolute;
  left: 650px;
  top: 200px;
  animation-name: move3;
  animation-duration: 4s;
}
@keyframes move4 {
  from {
    left: 650px;
    top: 200px;
  }
  to {
    left: 590px;
    top: 290px;
  }
}

.monkey5 {
  position: absolute;
  left: 590px;
  top: 290px;
  animation-name: move4;
  animation-duration: 4s;
}

@keyframes move5 {
  0% {
    left: 590px;
    top: 290px;
  }
  50% {
    left: 560px;
    top: 315px;
  }
  100% {
    left: 500px;
    top: 330px;
  }
}

.monkey6 {
  position: absolute;
  left: 500px;
  top: 330px;
  animation-name: move5;
  animation-duration: 4s;
}

@keyframes move6 {
  0% {
    left: 500px;
    top: 330px;
  }
  50% {
    left: 460px;
    top: 340px;
  }
  100% {
    left: 420px;
    top: 270px;
  }
}

.monkey7 {
  position: absolute;
  left: 420px;
  top: 270px;
  animation-name: move6;
  animation-duration: 4s;
}

@keyframes move7 {
  from {
    left: 420px;
    top: 270px;
  }
  to {
    left: 330px;
    top: 220px;
  }
}

.monkey8 {
  position: absolute;
  left: 330px;
  top: 220px;
  animation-name: move7;
  animation-duration: 4s;
}

@keyframes move8 {
  from {
    left: 330px;
    top: 220px;
  }
  to {
    left: 340px;
    top: 150px;
  }
}

.monkey9 {
  position: absolute;
  left: 340px;
  top: 150px;
  animation-name: move8;
  animation-duration: 4s;
}

@media (max-width: 1100px) {
  .monkey1 {
    left: calc(340px * 0.9);
    right: calc(800px * 0.9);
    top: calc(150px * 0.9);
  }

  @keyframes move1 {
    0% {
      left: calc(340px * 0.9);
      top: calc(150px * 0.9);
    }
    50% {
      left: calc(440px * 0.9);
      top: calc(100px * 0.9);
    }
    100% {
      left: calc(490px * 0.9);
      top: calc(125px * 0.9);
    }
  }

  .monkey2 {
    left: calc(490px * 0.9);
    top: calc(125px * 0.9);
  }

  @keyframes move2 {
    0% {
      left: calc(490px * 0.9);
      top: calc(125px * 0.9);
    }
    50% {
      left: calc(540px * 0.9);
      top: calc(100px * 0.9);
    }
    100% {
      left: calc(630px * 0.9);
      top: calc(100px * 0.9);
    }
  }

  .monkey3 {
    left: calc(630px * 0.9);
    top: calc(100px * 0.9);
  }

  @keyframes move3 {
    0% {
      left: calc(630px * 0.9);
      top: calc(100px * 0.9);
    }
    50% {
      left: calc(670px * 0.9);
      top: calc(160px * 0.9);
    }
    100% {
      left: calc(650px * 0.9);
      top: calc(200px * 0.9);
    }
  }

  .monkey4 {
    left: calc(650px * 0.9);
    top: calc(200px * 0.9);
  }
  @keyframes move4 {
    from {
      left: calc(650px * 0.9);
      top: calc(200px * 0.9);
    }
    to {
      left: calc(590px * 0.9);
      top: calc(290px * 0.9);
    }
  }

  .monkey5 {
    left: calc(590px * 0.9);
    top: calc(290px * 0.9);
  }

  @keyframes move5 {
    0% {
      left: calc(590px * 0.9);
      top: 290px;
    }
    50% {
      left: calc(560px * 0.9);
      top: calc(315px * 0.9);
    }
    100% {
      left: calc(500px * 0.9);
      top: calc(330px * 0.9);
    }
  }

  .monkey6 {
    left: calc(500px * 0.9);
    top: calc(330px * 0.9);
  }

  @keyframes move6 {
    0% {
      left: calc(500px * 0.9);
      top: calc(330px * 0.9);
    }
    50% {
      left: calc(460px * 0.9);
      top: calc(340px * 0.9);
    }
    100% {
      left: calc(420px * 0.9);
      top: calc(270px * 0.9);
    }
  }

  .monkey7 {
    left: calc(420px * 0.9);
    top: calc(270px * 0.9);
  }

  @keyframes move7 {
    from {
      left: calc(420px * 0.9);
      top: calc(270px * 0.9);
    }
    to {
      left: calc(330px * 0.9);
      top: calc(220px * 0.9);
    }
  }

  .monkey8 {
    left: calc(330px * 0.9);
    top: calc(220px * 0.9);
  }

  @keyframes move8 {
    from {
      left: calc(330px * 0.9);
      top: calc(220px * 0.9);
    }
    to {
      left: calc(340px * 0.9);
      top: calc(150px * 0.9);
    }
  }

  .monkey9 {
    left: calc(340px * 0.9);
    top: calc(150px * 0.9);
  }

  .gamefield_icon {
    width: calc(7rem * 0.9);
  }

  .lock_check_icon {
    width: calc(3rem * 0.9);
  }

  .desktop_path {
    width: calc(380px * 0.9);
    top: calc(150px * 0.9);
    left: calc(350px * 0.9);
    right: calc(350px * 0.9);
  }

  .house {
    top: calc(40px * 0.9);
    left: calc(220px * 0.9);
    right: calc(800px * 0.9);
    width: calc(150px * 0.9);
  }

  .storm {
    left: calc(500px * 0.9);
    right: calc(400px * 0.9);
    width: calc(150px * 0.9);
  }

  .electricity {
    top: calc(40px * 0.9);
    right: calc(220px * 0.9);
    left: calc(700px * 0.9);
    width: calc(150px * 0.9);
  }

  .accident {
    top: calc(190px * 0.9);
    right: calc(170px * 0.9);
    left: calc(780px * 0.9);
    width: calc(150px * 0.9);
  }

  .river {
    top: calc(350px * 0.9);
    right: calc(280px * 0.9);
    left: calc(680px * 0.9);
    width: calc(150px * 0.9);
  }

  .fireplace {
    top: calc(450px * 0.9);
    left: calc(500px * 0.9);
    right: calc(450px * 0.9);
    width: calc(150px * 0.9);
  }

  .burnt {
    top: calc(370px * 0.9);
    left: calc(280px * 0.9);
    right: calc(680px * 0.9);
    width: calc(150px * 0.9);
  }

  .snow {
    top: calc(190px * 0.9);
    left: calc(180px * 0.9);
    right: calc(750px * 0.9);
    width: calc(150px * 0.9);
  }

  .monkey_icon {
    width: calc(5rem * 0.9);
  }
}

@media (max-width: 1000px) {
  .monkey1 {
    left: calc(340px * 0.8);
    right: calc(800px * 0.8);
    top: calc(150px * 0.8);
  }

  @keyframes move1 {
    0% {
      left: calc(340px * 0.8);
      top: calc(150px * 0.8);
    }
    50% {
      left: calc(440px * 0.8);
      top: calc(100px * 0.8);
    }
    100% {
      left: calc(490px * 0.8);
      top: calc(125px * 0.8);
    }
  }

  .monkey2 {
    left: calc(490px * 0.8);
    top: calc(125px * 0.8);
  }

  @keyframes move2 {
    0% {
      left: calc(490px * 0.8);
      top: calc(125px * 0.8);
    }
    50% {
      left: calc(540px * 0.8);
      top: calc(100px * 0.8);
    }
    100% {
      left: calc(630px * 0.8);
      top: calc(100px * 0.8);
    }
  }

  .monkey3 {
    left: calc(630px * 0.8);
    top: calc(100px * 0.8);
  }

  @keyframes move3 {
    0% {
      left: calc(630px * 0.8);
      top: calc(100px * 0.8);
    }
    50% {
      left: calc(670px * 0.8);
      top: calc(160px * 0.8);
    }
    100% {
      left: calc(650px * 0.8);
      top: calc(200px * 0.8);
    }
  }

  .monkey4 {
    left: calc(650px * 0.8);
    top: calc(200px * 0.8);
  }
  @keyframes move4 {
    from {
      left: calc(650px * 0.8);
      top: calc(200px * 0.8);
    }
    to {
      left: calc(590px * 0.8);
      top: calc(290px * 0.8);
    }
  }

  .monkey5 {
    left: calc(590px * 0.8);
    top: calc(290px * 0.8);
  }

  @keyframes move5 {
    0% {
      left: calc(590px * 0.8);
      top: calc(290px * 0.8);
    }
    50% {
      left: calc(560px * 0.8);
      top: calc(315px * 0.8);
    }
    100% {
      left: calc(500px * 0.8);
      top: calc(330px * 0.8);
    }
  }

  .monkey6 {
    left: calc(500px * 0.8);
    top: calc(330px * 0.8);
  }

  @keyframes move6 {
    0% {
      left: calc(500px * 0.8);
      top: calc(330px * 0.8);
    }
    50% {
      left: calc(460px * 0.8);
      top: calc(340px * 0.8);
    }
    100% {
      left: calc(420px * 0.8);
      top: calc(270px * 0.8);
    }
  }

  .monkey7 {
    left: calc(420px * 0.8);
    top: calc(270px * 0.8);
  }

  @keyframes move7 {
    from {
      left: calc(420px * 0.8);
      top: calc(270px * 0.8);
    }
    to {
      left: calc(330px * 0.8);
      top: calc(220px * 0.8);
    }
  }

  .monkey8 {
    left: calc(330px * 0.8);
    top: calc(220px * 0.8);
  }

  @keyframes move8 {
    from {
      left: calc(330px * 0.8);
      top: calc(220px * 0.8);
    }
    to {
      left: calc(340px * 0.8);
      top: calc(150px * 0.8);
    }
  }

  .monkey9 {
    left: calc(340px * 0.8);
    top: calc(150px * 0.8);
  }

  .gamefield_icon {
    width: calc(7rem * 0.8);
  }

  .lock_check_icon {
    width: calc(3rem * 0.8);
  }

  .desktop_path {
    width: calc(380px * 0.8);
    top: calc(150px * 0.8);
    left: calc(350px * 0.8);
    right: calc(350px * 0.8);
  }

  .house {
    top: calc(40px * 0.8);
    left: calc(220px * 0.8);
    right: calc(800px * 0.8);
    width: calc(150px * 0.8);
  }

  .storm {
    left: calc(500px * 0.8);
    right: calc(400px * 0.8);
    width: calc(150px * 0.8);
  }

  .electricity {
    top: calc(40px * 0.8);
    right: calc(220px * 0.8);
    left: calc(700px * 0.8);
    width: calc(150px * 0.8);
  }

  .accident {
    top: calc(190px * 0.8);
    right: calc(170px * 0.8);
    left: calc(780px * 0.8);
    width: calc(150px * 0.8);
  }

  .river {
    top: calc(350px * 0.8);
    right: calc(280px * 0.8);
    left: calc(680px * 0.8);
    width: calc(150px * 0.8);
  }

  .fireplace {
    top: calc(450px * 0.8);
    left: calc(500px * 0.8);
    right: calc(450px * 0.8);
    width: calc(150px * 0.8);
  }

  .burnt {
    top: calc(370px * 0.8);
    left: calc(280px * 0.8);
    right: calc(680px * 0.8);
    width: calc(150px * 0.8);
  }

  .snow {
    top: calc(190px * 0.8);
    left: calc(180px * 0.8);
    right: calc(750px * 0.8);
    width: calc(150px * 0.8);
  }

  .monkey_icon {
    width: calc(5rem * 0.8);
  }
}

@media (max-width: 900px) {
  .monkey1 {
    left: calc(340px * 0.7);
    right: calc(800px * 0.7);
    top: calc(150px * 0.7);
  }

  @keyframes move1 {
    0% {
      left: calc(340px * 0.7);
      top: calc(150px * 0.7);
    }
    50% {
      left: calc(440px * 0.7);
      top: calc(100px * 0.7);
    }
    100% {
      left: calc(490px * 0.7);
      top: calc(125px * 0.7);
    }
  }

  .monkey2 {
    left: calc(490px * 0.7);
    top: calc(125px * 0.7);
  }

  @keyframes move2 {
    0% {
      left: calc(490px * 0.7);
      top: calc(125px * 0.7);
    }
    50% {
      left: calc(540px * 0.7);
      top: calc(100px * 0.7);
    }
    100% {
      left: calc(630px * 0.7);
      top: calc(100px * 0.7);
    }
  }

  .monkey3 {
    left: calc(630px * 0.7);
    top: calc(100px * 0.7);
  }

  @keyframes move3 {
    0% {
      left: calc(630px * 0.7);
      top: calc(100px * 0.7);
    }
    50% {
      left: calc(670px * 0.7);
      top: calc(160px * 0.7);
    }
    100% {
      left: calc(650px * 0.7);
      top: calc(200px * 0.7);
    }
  }

  .monkey4 {
    left: calc(650px * 0.7);
    top: calc(200px * 0.7);
  }
  @keyframes move4 {
    from {
      left: calc(650px * 0.7);
      top: calc(200px * 0.7);
    }
    to {
      left: calc(590px * 0.7);
      top: calc(290px * 0.7);
    }
  }

  .monkey5 {
    left: calc(590px * 0.7);
    top: calc(290px * 0.7);
  }

  @keyframes move5 {
    0% {
      left: calc(590px * 0.7);
      top: calc(290px * 0.7);
    }
    50% {
      left: calc(560px * 0.7);
      top: calc(315px * 0.7);
    }
    100% {
      left: calc(500px * 0.7);
      top: calc(330px * 0.7);
    }
  }

  .monkey6 {
    left: calc(500px * 0.7);
    top: calc(330px * 0.7);
  }

  @keyframes move6 {
    0% {
      left: calc(500px * 0.7);
      top: calc(330px * 0.7);
    }
    50% {
      left: calc(460px * 0.7);
      top: calc(340px * 0.7);
    }
    100% {
      left: calc(420px * 0.7);
      top: calc(270px * 0.7);
    }
  }

  .monkey7 {
    left: calc(420px * 0.7);
    top: calc(270px * 0.7);
  }

  @keyframes move7 {
    from {
      left: calc(420px * 0.7);
      top: calc(270px * 0.7);
    }
    to {
      left: calc(330px * 0.7);
      top: calc(220px * 0.7);
    }
  }

  .monkey8 {
    left: calc(330px * 0.7);
    top: calc(220px * 0.7);
  }

  @keyframes move8 {
    from {
      left: calc(330px * 0.7);
      top: calc(220px * 0.7);
    }
    to {
      left: calc(340px * 0.7);
      top: calc(150px * 0.7);
    }
  }

  .monkey9 {
    left: calc(340px * 0.7);
    top: calc(150px * 0.7);
  }

  .gamefield_icon {
    width: calc(7rem * 0.7);
  }

  .lock_check_icon {
    width: calc(3rem * 0.7);
  }

  .desktop_path {
    width: calc(380px * 0.7);
    top: calc(150px * 0.7);
    left: calc(350px * 0.7);
    right: calc(350px * 0.7);
  }

  .house {
    top: calc(40px * 0.7);
    left: calc(220px * 0.7);
    right: calc(800px * 0.7);
    width: calc(150px * 0.7);
  }

  .storm {
    left: calc(500px * 0.7);
    right: calc(400px * 0.7);
    width: calc(150px * 0.7);
  }

  .electricity {
    top: calc(40px * 0.7);
    right: calc(220px * 0.7);
    left: calc(700px * 0.7);
    width: calc(150px * 0.7);
  }

  .accident {
    top: calc(190px * 0.7);
    right: calc(170px * 0.7);
    left: calc(780px * 0.7);
    width: calc(150px * 0.7);
  }

  .river {
    top: calc(350px * 0.7);
    right: calc(280px * 0.7);
    left: calc(680px * 0.7);
    width: calc(150px * 0.7);
  }

  .fireplace {
    top: calc(450px * 0.7);
    left: calc(500px * 0.7);
    right: calc(450px * 0.7);
    width: calc(150px * 0.7);
  }

  .burnt {
    top: calc(370px * 0.7);
    left: calc(280px * 0.7);
    right: calc(680px * 0.7);
    width: calc(150px * 0.7);
  }

  .snow {
    top: calc(190px * 0.7);
    left: calc(180px * 0.7);
    right: calc(750px * 0.7);
    width: calc(150px * 0.7);
  }

  .monkey_icon {
    width: calc(5rem * 0.7);
  }
}

@media (max-width: 800px) {
  .monkey1 {
    left: calc(340px * 0.6);
    right: calc(800px * 0.6);
    top: calc(150px * 0.6);
  }

  @keyframes move1 {
    0% {
      left: calc(340px * 0.6);
      top: calc(150px * 0.6);
    }
    50% {
      left: calc(440px * 0.6);
      top: calc(100px * 0.6);
    }
    100% {
      left: calc(490px * 0.6);
      top: calc(125px * 0.6);
    }
  }

  .monkey2 {
    left: calc(490px * 0.6);
    top: calc(125px * 0.6);
  }

  @keyframes move2 {
    0% {
      left: calc(490px * 0.6);
      top: calc(125px * 0.6);
    }
    50% {
      left: calc(540px * 0.6);
      top: calc(100px * 0.6);
    }
    100% {
      left: calc(630px * 0.6);
      top: calc(100px * 0.6);
    }
  }

  .monkey3 {
    left: calc(630px * 0.6);
    top: calc(100px * 0.6);
  }

  @keyframes move3 {
    0% {
      left: calc(630px * 0.6);
      top: calc(100px * 0.6);
    }
    50% {
      left: calc(670px * 0.6);
      top: calc(160px * 0.6);
    }
    100% {
      left: calc(650px * 0.6);
      top: calc(200px * 0.6);
    }
  }

  .monkey4 {
    left: calc(650px * 0.6);
    top: calc(200px * 0.6);
  }
  @keyframes move4 {
    from {
      left: calc(650px * 0.6);
      top: calc(200px * 0.6);
    }
    to {
      left: calc(590px * 0.6);
      top: calc(290px * 0.6);
    }
  }

  .monkey5 {
    left: calc(590px * 0.6);
    top: calc(290px * 0.6);
  }

  @keyframes move5 {
    0% {
      left: calc(590px * 0.6);
      top: calc(290px * 0.6);
    }
    50% {
      left: calc(560px * 0.6);
      top: calc(315px * 0.6);
    }
    100% {
      left: calc(500px * 0.6);
      top: calc(330px * 0.6);
    }
  }

  .monkey6 {
    left: calc(500px * 0.6);
    top: calc(330px * 0.6);
  }

  @keyframes move6 {
    0% {
      left: calc(500px * 0.6);
      top: calc(330px * 0.6);
    }
    50% {
      left: calc(460px * 0.6);
      top: calc(340px * 0.6);
    }
    100% {
      left: calc(420px * 0.6);
      top: calc(270px * 0.6);
    }
  }

  .monkey7 {
    left: calc(420px * 0.6);
    top: calc(270px * 0.6);
  }

  @keyframes move7 {
    from {
      left: calc(420px * 0.6);
      top: calc(270px * 0.6);
    }
    to {
      left: calc(330px * 0.6);
      top: calc(220px * 0.6);
    }
  }

  .monkey8 {
    left: calc(330px * 0.6);
    top: calc(220px * 0.6);
  }

  @keyframes move8 {
    from {
      left: calc(330px * 0.6);
      top: calc(220px * 0.6);
    }
    to {
      left: calc(340px * 0.6);
      top: calc(150px * 0.6);
    }
  }

  .monkey9 {
    left: calc(340px * 0.6);
    top: calc(150px * 0.6);
  }

  .gamefield_icon {
    width: calc(7rem * 0.6);
  }

  .lock_check_icon {
    width: calc(3rem * 0.6);
  }

  .desktop_path {
    width: calc(380px * 0.6);
    top: calc(150px * 0.6);
    left: calc(350px * 0.6);
    right: calc(350px * 0.6);
  }

  .house {
    top: calc(40px * 0.6);
    left: calc(220px * 0.6);
    right: calc(800px * 0.6);
    width: calc(150px * 0.6);
  }

  .storm {
    left: calc(500px * 0.6);
    right: calc(400px * 0.6);
    width: calc(150px * 0.6);
  }

  .electricity {
    top: calc(40px * 0.6);
    right: calc(220px * 0.6);
    left: calc(700px * 0.6);
    width: calc(150px * 0.6);
  }

  .accident {
    top: calc(190px * 0.6);
    right: calc(170px * 0.6);
    left: calc(780px * 0.6);
    width: calc(150px * 0.6);
  }

  .river {
    top: calc(350px * 0.6);
    right: calc(280px * 0.6);
    left: calc(680px * 0.6);
    width: calc(150px * 0.6);
  }

  .fireplace {
    top: calc(450px * 0.6);
    left: calc(500px * 0.6);
    right: calc(450px * 0.6);
    width: calc(150px * 0.6);
  }

  .burnt {
    top: calc(370px * 0.6);
    left: calc(280px * 0.6);
    right: calc(680px * 0.6);
    width: calc(150px * 0.6);
  }

  .snow {
    top: calc(190px * 0.6);
    left: calc(180px * 0.6);
    right: calc(750px * 0.6);
    width: calc(150px * 0.6);
  }

  .monkey_icon {
    width: calc(5rem * 0.6);
  }
}

@media (max-width: 700px) {
  .monkey1 {
    left: calc(340px * 0.5);
    right: calc(800px * 0.5);
    top: calc(150px * 0.5);
  }

  @keyframes move1 {
    0% {
      left: calc(340px * 0.5);
      top: calc(150px * 0.5);
    }
    50% {
      left: calc(440px * 0.5);
      top: calc(100px * 0.5);
    }
    100% {
      left: calc(490px * 0.5);
      top: calc(125px * 0.5);
    }
  }

  .monkey2 {
    left: calc(490px * 0.5);
    top: calc(125px * 0.5);
  }

  @keyframes move2 {
    0% {
      left: calc(490px * 0.5);
      top: calc(125px * 0.9);
    }
    50% {
      left: calc(540px * 0.5);
      top: calc(100px * 0.5);
    }
    100% {
      left: calc(630px * 0.5);
      top: calc(100px * 0.5);
    }
  }

  .monkey3 {
    left: calc(630px * 0.5);
    top: calc(100px * 0.5);
  }

  @keyframes move3 {
    0% {
      left: calc(630px * 0.5);
      top: calc(100px * 0.5);
    }
    50% {
      left: calc(670px * 0.5);
      top: calc(160px * 0.5);
    }
    100% {
      left: calc(650px * 0.5);
      top: calc(200px * 0.5);
    }
  }

  .monkey4 {
    left: calc(650px * 0.5);
    top: calc(200px * 0.5);
  }
  @keyframes move4 {
    from {
      left: calc(650px * 0.5);
      top: calc(200px * 0.5);
    }
    to {
      left: calc(590px * 0.5);
      top: calc(290px * 0.5);
    }
  }

  .monkey5 {
    left: calc(590px * 0.5);
    top: calc(290px * 0.5);
  }

  @keyframes move5 {
    0% {
      left: calc(590px * 0.5);
      top: calc(290px * 0.5);
    }
    50% {
      left: calc(560px * 0.5);
      top: calc(315px * 0.5);
    }
    100% {
      left: calc(500px * 0.5);
      top: calc(330px * 0.5);
    }
  }

  .monkey6 {
    left: calc(500px * 0.5);
    top: calc(330px * 0.5);
  }

  @keyframes move6 {
    0% {
      left: calc(500px * 0.5);
      top: calc(330px * 0.5);
    }
    50% {
      left: calc(460px * 0.5);
      top: calc(340px * 0.5);
    }
    100% {
      left: calc(420px * 0.5);
      top: calc(270px * 0.5);
    }
  }

  .monkey7 {
    left: calc(420px * 0.5);
    top: calc(270px * 0.5);
  }

  @keyframes move7 {
    from {
      left: calc(420px * 0.5);
      top: calc(270px * 0.5);
    }
    to {
      left: calc(330px * 0.5);
      top: calc(220px * 0.5);
    }
  }

  .monkey8 {
    left: calc(330px * 0.5);
    top: calc(220px * 0.5);
  }

  @keyframes move8 {
    from {
      left: calc(330px * 0.5);
      top: calc(220px * 0.5);
    }
    to {
      left: calc(340px * 0.5);
      top: calc(150px * 0.5);
    }
  }

  .monkey9 {
    left: calc(340px * 0.5);
    top: calc(150px * 0.5);
  }

  .gamefield_icon {
    width: calc(7rem * 0.5);
  }

  .lock_check_icon {
    width: calc(3rem * 0.5);
  }

  .desktop_path {
    width: calc(380px * 0.5);
    top: calc(150px * 0.5);
    left: calc(350px * 0.5);
    right: calc(350px * 0.5);
  }

  .house {
    top: calc(40px * 0.5);
    left: calc(220px * 0.5);
    right: calc(800px * 0.5);
    width: calc(150px * 0.5);
  }

  .storm {
    left: calc(500px * 0.5);
    right: calc(400px * 0.5);
    width: calc(150px * 0.5);
  }

  .electricity {
    top: calc(40px * 0.5);
    right: calc(220px * 0.5);
    left: calc(700px * 0.5);
    width: calc(150px * 0.5);
  }

  .accident {
    top: calc(190px * 0.5);
    right: calc(170px * 0.5);
    left: calc(780px * 0.5);
    width: calc(150px * 0.5);
  }

  .river {
    top: calc(350px * 0.5);
    right: calc(280px * 0.5);
    left: calc(680px * 0.5);
    width: calc(150px * 0.5);
  }

  .fireplace {
    top: calc(450px * 0.5);
    left: calc(500px * 0.5);
    right: calc(450px * 0.5);
    width: calc(150px * 0.5);
  }

  .burnt {
    top: calc(370px * 0.5);
    left: calc(280px * 0.5);
    right: calc(680px * 0.5);
    width: calc(150px * 0.5);
  }

  .snow {
    top: calc(190px * 0.5);
    left: calc(180px * 0.5);
    right: calc(750px * 0.5);
    width: calc(150px * 0.5);
  }

  .monkey_icon {
    width: calc(5rem * 0.5);
  }
}

@media (max-width: 600px) {
  .desktop_path {
    display: none;
  }

  .gamefield_icon {
    width: 7rem;
  }

  .lock_check_icon {
    width: 2rem;
    position: absolute;
  }

  .house {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 150px;
  }

  .storm {
    position: absolute;
    left: 200px;
    top: 180px;
    width: 150px;
  }

  .electricity {
    position: absolute;
    top: 350px;
    left: 200px;
    width: 150px;
  }

  .accident {
    position: absolute;
    top: 520px;
    left: 200px;
    width: 150px;
  }

  .river {
    position: absolute;
    top: 690px;
    left: 200px;
    width: 150px;
  }

  .fireplace {
    position: absolute;
    top: 860px;
    left: 200px;
    width: 150px;
  }

  .burnt {
    position: absolute;
    top: 1030px;
    left: 200px;
    width: 150px;
  }

  .snow {
    position: absolute;
    top: 1200px;
    left: 200px;
    width: 150px;
  }

  .monkey1 {
    position: absolute;
    left: 90px;
    top: 40px;
    width: 5rem;
  }

  @keyframes move1 {
    from {
      top: 40px;
    }
    to {
      top: 180px;
    }
  }

  .monkey2 {
    position: absolute;
    left: 90px;
    top: 180px;
    width: 5rem;
  }

  @keyframes move2 {
    from {top: 180px;}
    to {top: 360px}
        
      }
    
      .monkey3 {
        position: absolute;
        left: 90px;
        top: 360px;
        width: 5rem;
      }

      @keyframes move3 {
        from {top: 360px;}
        to {top: 550px}
            
          }
        
          .monkey4 {
            position: absolute;
            left: 90px;
            top: 550px;
            width: 5rem;
          }

          @keyframes move4 {
            from {top: 550px;}
            to {top: 720px}
                
              }
            
              .monkey5 {
                position: absolute;
                left: 90px;
                top: 720px;
                width: 5rem;
              }

              @keyframes move5 {
                from {top: 720px;}
                to {top: 900px}
                    
                  }
                
                  .monkey6 {
                    position: absolute;
                    left: 90px;
                    top: 900px;
                    width: 5rem;
                  }
                  @keyframes move6 {
                    from {top: 900px;}
                    to {top: 1070px}
                        
                      }
                    
                      .monkey7 {
                        position: absolute;
                        left: 90px;
                        top: 1070px;
                        width: 5rem;
                      }

                      @keyframes move7 {
                        from {top: 1070px;}
                        to {top: 1250px}
                            
                          }
                        
                          .monkey8 {
                            position: absolute;
                            left: 90px;
                            top: 1250px;
                            width: 5rem;
                          }

                          @keyframes move8 {
                            from {top: 1250px;}
                            to {top: 1400px}
                                
                              }
                            
                              .monkey9 {
                                position: absolute;
                                left: 90px;
                                top: 1400px;
                                width: 5rem;
                              }

  .monkey_icon {
    width: 5rem;
  }

  .path {
    position: absolute;
  }

  .resposive_path {
    display: block;
    position: absolute;
    width: 100%;

    margin: 0px;
    margin-left: 0px;
  }
}
