.situace_container {
  border: 30px solid #e7ece0;
  background-color: white;
  border-radius: 10%;
  margin: 0px 190px 0px 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 450px;
}

.heading_2 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
}

.situace_1 {
  width: 330px;
}

.situace_2 {
  width: 270px;
}

.answers {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.correct_answer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answers.correct {
  width: 450px;
  font-size: 15px;
  padding-left: 30px;
}

.icon_container {
  width: 400px;
  max-width: 200px;
}

.ikona_1 {
  width: 3.5rem;
}

.ikona_1:hover {
  cursor: grab;
}

.ikona_1:active {
  cursor: grabbing;
}

.heading_3 {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  text-align: center;
}

.window_button {
  width: 3.5rem;
  border: none;
  padding: 0px;
  background-color: transparent;
}

.window_button {
  cursor: pointer;
  padding-bottom: 10px;
}

.heading_icon {
  width: 3rem;
  padding-right: 1rem;
}

@media (max-width: 1200px) {
  .answers {
    max-width: 700px;
  }

  .answers.correct {
    max-width: 430px;
  }

  .situace_2 {
    max-width: 240px;
  }
}

@media (max-width: 1080px) {
  .situace_container {
    width: 650px;
    margin: 0px;
    margin-left: 140px;
  }

  .answers {
    max-width: 540px;
    font-size: 12px;
  }

  .answers.correct {
    max-width: 300px;
  }

  .situace_2 {
    max-width: 240px;
    max-height: 260px;
  }
}

@media (max-width: 450px) {
  .situace_container {
    width: 350px;
    margin: 0px;
    margin-left: 10px;
    border: 15px solid #e7ece0;
  }

  .situace_1 {
    width: 250px;
  }

  .answers {
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 16px;
  }

  .ikona_1 {
    width: 3rem;
  }

  .correct_answer_container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
  }

  .answers.correct {
    width: 300px;
    padding: 0px;
  }
}

@media (min-width: 1300px) {
  .situace_container {
    min-height: 700px;
  }

  .heading_2 {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
  }

  .situace_1 {
    width: 400px;
  }

  .situace_2 {
    width: 350px;
  }

  .icon_container {
    width: 750px;
    max-width: 300px;
  }

  .ikona_1 {
    width: 4.5rem;
  }

  .answers {
    font-size: 18px;
  }

  .answers.correct {
    width: 750px;
    font-size: 18px;
  }

  .heading_3 {
    font-size: 30px;
  }
}
