@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');

body {
  background-color: #a2dd5f;
}

.homepage_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.homepage_navigation {
  word-spacing: 1rem;
}

.heading {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  padding-top: 18vh;
}

.homepage_button {
  width: 5rem;
  margin-top: 50px;
}

.homepage_picture {
  display: flex;
}

.homepage_monkey {
  max-width: 300px;
  margin-top: 150px;
  transform: rotate(-10deg);
  margin: 0px;
}

.homepage_call {
  max-width: 150px;
  transform: scaleX(-1);
  margin: 0px;
}

@media (max-width: 450px) {
  .heading {
    padding-top: 5vh;
  }

  .homepage_monkey {
    max-width: 220px;
  }

  .homepage_call {
    max-width: 90px;
  }
}
